     <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    
	
	<div class="container center" ng-contoller='restoranController'>
	 <div class="row">
	 	<div class="well poluProvidanBeo">
	 		<p><h2>Ponude</h2></p>
	 	</div>
	 </div>		
	
	
	<div ng-show="prikazMeniPonude" class="row row-eq-height" >
 				<div class="col-md-4">
					<div class="panel panel-default velicina poluProvidanBeo">
						<div class="panel-heading" style="text-align: center;">Dodaj ponudu</div>
			
					<div class="panel-body">
						
							<input style="margin: auto;" class="img-responsive"  type="image" src="Slike/rsz_dodajradni.png" ng-click="prikaziDodajPonudu()"/> 
					
					</div>
				</div>
				</div>    
				<div class="col-md-4">
					<div class="panel panel-default velicina poluProvidanBeo" >
						<div class="panel-heading" style="text-align: center;">Dodaj ponudjaca</div>
			
					<div class="panel-body">
						
						
							<input style="margin: auto;" class="img-responsive" type="image" src="Slike/rsz_kalendar.png" ng-click="prikaziDodajPonudjaca()"/> 
					
					</div>
				</div>
				</div>  
				<div class="col-md-4">
					<div class="panel panel-default velicina poluprovidanBeo">
						<div class="panel-heading" style="text-align: center;">Dodaj namirnicu</div>
			
					<div class="panel-body">
				
							<input style="margin: auto;" class="img-responsive" type="image" src="Slike/sto.jpg" ng-click="prikaziDodajNamirnicu()"/> 
						
					</div>
				</div>
				</div>  
</div>
	
<div class="container center" ng-show="dodavanjeNamirnice">
<div class="row">
<div class="col-md-4 " >
 <div class="well poluprovidanBeo">
<form >
  <table>
   <tr>
    <td>Ime:</td>
    <td><input type="text" name="nazivJela" class="form-control" ng-model="namirnica.ime"/></td>
    <td ng-show="pogresnaNamirnica">IME MORA DA JE JEDINSTVENO</td>
   </tr>
   <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>
   <tr>
    <td>&nbsp;</td>
    <td><input class="btn btn-success" type="submit" value="Dodaj" ng-click="dodajNamirnicu(namirnica)"/></td>
   </tr>
  </table>
 </form>
 </div>
</div>

<div class="col-md-4">
	<div class="panel panel-default poluProvidanBeo">
  		<div class="panel-heading">Namirnice: </div>
  		<div class="panel-body">
  			<table class="table table-stripped">
  				<tr ng-repeat="namirnica in sveNamirnice">
  					<td>{{namirnica.ime}}</td>
  				</tr>
  			</table>
  		</div>
	</div>

</div>

 </div>
 
 <a href="" class="btn" ng-click="dodavanjeNamirnicaKraj()">Kraj</a>
</div>






<!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />


<div ng-show="dodavanjePonude" class="container center ">
<div class="row">
<div class="col-md-4 " >
 <div class="well poluprovidanBeo bootstrap-iso">
 	<table>
 	<tr>
 		<td>
 			<div class="panel panel-default">
  				<div class="panel-body">

  						
Namirnica 1:<span>&nbsp;</span> <select class="form-control" name="tipRadnika" ng-model="nam1">
      <option ng-repeat="namirnica in sveNamirnice" value={{namirnica.id}} >{{namirnica.ime}}</option>

     </select>
					</div>
					
					<div >
  						
Namirnica 2:<span>&nbsp;</span> <select class="form-control" name="tipRadnika"  ng-model="nam2">
      <option ng-repeat="namirnica in sveNamirnice" value={{namirnica.id}}>{{namirnica.ime}}</option>
     </select>
					</div>
					
					<div >
  						
 Namirnica 3:<span>&nbsp;</span> <select class="form-control" name="tipRadnika" ng-model="nam3">
      <option ng-repeat="namirnica in sveNamirnice" value={{namirnica.id}}>{{namirnica.ime}}</option>
     </select>
					
			</div>
 		
 		</td>
 	</tr>
 	
 	
 	<tr>
 	<td>
	<div class="form-group ">
      <label class="control-label col-sm-2 requiredField" for="date">
       Vazi od
       <span class="asteriskField">
        *
       </span>
      </label>
       <div class="input-group">
        <div class="input-group-addon">
         <i class="fa fa-calendar">
         </i>
        </div>
        <input class="form-control" id="date" name="date" placeholder="DD-MM-YYYY" type="text" ng-model="datumOd"/>
       </div>
     </div>
     </td>
     </tr>
     
     <tr>
     	<td>
     		
     		<div class="form-group ">
      		<label class="control-label col-sm-2 requiredField" for="date2">
       				Vazi od
       		<span class="asteriskField">
        	*
       		</span>
      		</label>
       		<div class="input-group">
        		<div class="input-group-addon">
         			<i class="fa fa-calendar">
         			</i>
        	</div>
        	<input class="form-control" id="date2" name="date2" placeholder="DD-MM-YYYY" type="text" ng-model="datumDo"/>
       	</div>
     	</div>
     		
     	</td>
     	
     </tr>
     
     <tr>
     </div>	
					<a href="" class="btn btn-success"  ng-click="dodajPonudu()">Dodaj</a>
  				</div>
     </tr>
     
     </table>
     
 
     
     <script>
	$(document).ready(function(){
		var date_input=$('input[name="date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			orientation:"auto top",
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
		
		var date_input1=$('input[name="date2"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input1.datepicker({
			format: 'mm/dd/yyyy',
			orientation:"auto top",
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
		
	})
</script>
	
	
 </div>
</div>


 </div>
</div>
  <script src="Bootstrap/js/bootstrap.min.js" > </script>



<div class="container center" ng-show="dodavanjePonudjaca">
<div class="row">
<div class="col-md-4 col-md-offset-4" >
 <div class="well poluProvidanBeo">
<form >
  <table>
   <tr>
    <td>Ime:</td>
    <td><input type="text" name="Ime" class="form-control" ng-model="ponudjac.ime" /></td>
   </tr>
   <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>
    <tr>
    <td>Prezime:</td>
    <td><input type="text" name="prezime"  class="form-control" ng-model="ponudjac.prezime"/></td>
   </tr>
   <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>
    <tr>
    <td>Email adresa:</td>
    <td><input type="email" name="emailAdresa"  class="form-control" ng-model="ponudjac.email"/></td>
   </tr>
   <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>  
   <tr>
    <td>Korisnicko ime:</td>
    <td><input type="text" name="korisnickoIme" class="form-control" ng-model="ponudjac.korisnickoIme"/></td>
   </tr>
   <tr> 
   <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>
   <tr>
    <td>Sifra:</td>
    <td><input type="password" name="sifra" class="form-control" ng-model="ponudjac.sifra"/></td>
   </tr>
   <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>
   <tr>
   	<tr>
   </tr>
   <tr>
    <td>&nbsp;</td>
    <td>
    	<a href="" class="btn" ng-click='dodajPonudjaca(ponudjac)'>Dodaj</a>
    </td>
   </tr>
  </table>
 </form>
 </div>
</div>
 </div>
</div>


</div>
