<div class="container" ng-contoller='restoranController'  data-ng-init="uzmiRestoran()">
  <div class="jumbotron">
    <h1>{{jedanRestoran.ime}}</h1>      
    <p>{{jedanRestoran.tipRestorana}}</p>
  </div>

<div class="row row-eq-height" >
 				<div class="col-md-4">
					<div class="panel panel-default velicina">
						<div class="panel-heading">Jelovnik </div>
			
					<div class="panel-body">
	
							<input class="img-responsive" type="image" src="Slike/menu.png" ng-click='prikaziJelovnik(jedanRestoran.id)'/> 
					</div>
				</div>
				</div>    
				<div class="col-md-4">
					<div class="panel panel-default velicina" >
						<div class="panel-heading">Karta pića</div>
			
					<div class="panel-body">
						
							<input class="img-responsive" type="image" ng-click="prikazPica()" src="Slike/pice.png"/> 
					</div>
				</div>
				</div>  
				<div class="col-md-4" ng-show="gost">
					<div class="panel panel-default velicina">
						<div class="panel-heading">Rezerviši sto</div>
			
					<div class="panel-body">
				
							<input class="img-responsive" type="image" src="Slike/sto.jpg"/> 
				
					</div>
				</div>
				</div>  
				
				<div class="col-md-4" ng-show="MR">
					<div class="panel panel-default velicina">
						<div class="panel-heading">Konfiguracija stolova</div>
			
					<div class="panel-body">
				
							<input class="img-responsive" type="image" src="Slike/sto.jpg"/> 
				
					</div>
				</div>
				</div> 
</div>