
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<div class="container center" ng-controller='adminController'>
		<div class="row" data-ng-init="uzmiUlogovanog()">
			<div class="well poluProvidanBeo">
	 			<p><h2>Ulogovan administrator</h2></p>
	 		<p>{{admin.ime}} {{admin.prezime}}</p>
	 	</div>
		</div>
		
		<div class="row" ng-controller='adminController'>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default poluProvidanBeo">
  					<div class="panel-body">
  						<button data-toggle="collapse" data-target="#registrujRestoran" class="btn btn-success">Registruj restoran</button>
							<div id="registrujRestoran" class="collapse">
								<div style="width: 400" class="well poluProvidanBeo">
								<form action="" >
  									<table>
  										<tr>
  											<td>Ime: </td>
  											<td><input type="text"  name="imeRestorana" class="form-control" ng-model='restoran.ime'/></td>
  											
  										</tr> 
  										<tr>
  											<td>Tip restorana: </td>
  											<td>
  												<select name="izabraniTip" ng-model='restoran.tipRestorana'>
  													<option value=0>Domaca kuhinja</option>
  													<option value=1>Italijanski</option>
  													<option value=2>Kineski</option>
  													<option value=3>Vegan</option>
												</select>
  											</td>
  										</tr>
  										<tr>
  											<td colspan="2" align="right"><button type="submit" class="btn btn-success" ng-click="dodajRestoran(restoran)">Registruj restoran</button></td>
  										</tr>
  									</table>
  									</form>
  								</div>
  							</div>
  					</div>
				</div>
			</div>
		</div>
		
				
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default poluProvidanBeo">
  					<div class="panel-body">
  						<button data-toggle="collapse" data-target="#registrujMenadzera" class="btn btn-success">Registruj menadzera restorana</button>
							<div id="registrujMenadzera" class="collapse">
								<div style="width: 400" class="well poluProvidanBeo">
  									<table>
  										<tr>
  											<td>Ime: </td>
  											<td><input type="text" name="imeMenadzera" class="form-control" ng-model="menadzerRestorana.ime"/></td>
  										</tr> 
  										<tr>
  											<td>Prezime: </td>
  											<td><input type="text" name="prezimeMenadzera" class="form-control" ng-model="menadzerRestorana.prezime"/></td>
  										</tr>
  										<tr>
  											<td>Korisničko ime: </td>
  											<td><input type="text" name="korisnickoImeMenadzera" class="form-control" ng-model="menadzerRestorana.korisnickoIme"/></td>
  										</tr>
  										<tr>
  											<td>Šifra: </td>
  											<td><input type="text" name="sifraMenadzera" class="form-control" ng-model="menadzerRestorana.sifra"/></td>
  										</tr>
  										<tr>
  											<td>Email: </td>
  											<td><input type="text" name="emailMenadzera" class="form-control" ng-model="menadzerRestorana.email" /></td>
  										</tr>
  										<tr>
  											<td>Izaberite restoran: </td>
  											<td>
  												<select name="izabraniRestoran" ng-model="imeRestorana">
  													<option ng-repeat="restoran in restorani" value={{restoran.ime}}>{{restoran.ime}}</option> 
												</select>
  											</td>
  										</tr>
  										<tr>
  											<td colspan="2" align="right"><a href="" class="btn btn-success" ng-click="regMenadzerRestorana(menadzerRestorana,imeRestorana)">Registruj menadzera</a></td>
  										</tr>
  									</table>
  									
  								</div>
  							</div>
  					</div>
				</div>
			</div>
		</div>
		

		
		<div class="row" ng-controller='adminController'>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default poluProvidanBeo">
  					<div class="panel-body">
  						<button data-toggle="collapse" data-target="#registrujAdmina" class="btn btn-success">Registruj menadzera sistema</button>
							<div id="registrujAdmina" class="collapse">
								<div style="width: 400" class="well poluProvidanBeo">
  									<table>
  										<tr>
  											<td>Ime: </td>
  											<td><input type="text" name="imeAdmin" class="form-control" ng-model='noviAdmin.ime'/></td>
  										</tr> 
  										<tr>
  											<td>Prezime: </td>
  											<td><input type="text" name="prezimeAdmin" class="form-control" ng-model='noviAdmin.prezime'/></td>
  										</tr>
  										<tr>
  											<td>Korisničko ime: </td>
  											<td><input type="text" name="korisnickoImeAdmin" class="form-control" ng-model='noviAdmin.korisnickoIme'/></td>
  										</tr>
  										<tr>
  											<td>Šifra: </td>
  											<td><input type="text" name="sifraAdmin" class="form-control" ng-model='noviAdmin.sifra'/></td>
  										</tr>
  										<tr>
  											<td>Email: </td>
  											<td><input type="text" name="emailAdmin" class="form-control" ng-model='noviAdmin.email'/></td>
  										</tr>
  										<tr>
  											<td colspan="2" align="right"><a href="" class="btn btn-success" ng-click="dodajAdmina(noviAdmin)">Registruj administratora</a></td>
  										</tr>
  									</table>
  									
  								</div>
  							</div>
  					</div>
				</div>
			</div>
		</div>
		
	</div>
	