
<div class="container center" ng-controller='registracijaController'>
<div class="row">
<div class="col-md-4 col-md-offset-4" >
 <div class="well">
<form >
  <table>
   <tr>
    <td>Ime:</td>
    <td><input type="text" name="Ime" class="form-control" ng-model="gost.ime" /></td>
   </tr>
   <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>
    <tr>
    <td>Prezime:</td>
    <td><input type="text" name="prezime" class="form-control" ng-model="gost.prezime"/></td>
   </tr>
   <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>
    <tr>
    <td>Email adresa:</td>
    <td><input type="text" name="emailAdresa" class="form-control" ng-model="gost.email"/></td>
   </tr>
   <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>   
   <tr>
    <td>Korisnicko ime:</td>
    <td><input type="text" name="korisnickoIme" class="form-control" ng-model="gost.korisnickoIme"/></td>
   </tr>
   <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>
   <tr>
    <td>Sifra:</td>
    <td><input type="password" name="sifra" class="form-control" ng-model="gost.sifra"/></td>
   </tr>
   <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>
   
    <tr>
   	<td>&nbsp;</td>
   	<td>&nbsp;</td>
   </tr>
   <tr>
    <td>&nbsp;</td>
    <td><input class="btn btn-success" type="submit" value="registruje se" ng-click='registruj(gost)' /></td>
   </tr>
  </table>
 </form>
 </div>
</div>
 </div>
</div>
